[data-theme="Light"] {
  /* colors */
  --wt-avatar-letters-font-color: var(--white);
  --wt-avatar-letters-p1-color: var(--red-lighten-2);
  --wt-avatar-letters-p10-color: var(--yellow-darken-3);
  --wt-avatar-letters-p11-color: var(--amber-darken-3);
  --wt-avatar-letters-p12-color: var(--orange-darken-1);
  --wt-avatar-letters-p13-color: var(--deep-orange-lighten-1);
  --wt-avatar-letters-p2-color: var(--purple-lighten-2);
  --wt-avatar-letters-p3-color: var(--deep-purple-lighten-2);
  --wt-avatar-letters-p4-color: var(--indigo-lighten-2);
  --wt-avatar-letters-p5-color: var(--blue-lighten-1);
  --wt-avatar-letters-p6-color: var(--cyan-lighten-1);
  --wt-avatar-letters-p7-color: var(--teal-darken-3);
  --wt-avatar-letters-p8-color: var(--green-darken-2);
  --wt-avatar-letters-p9-color: var(--lime-darken-3);
}
[data-theme="Dark"] {
  /* colors */
  --wt-avatar-letters-font-color: var(--black);
  --wt-avatar-letters-p1-color: var(--red-lighten-2);
  --wt-avatar-letters-p10-color: var(--yellow-darken-3);
  --wt-avatar-letters-p11-color: var(--amber-darken-3);
  --wt-avatar-letters-p12-color: var(--orange-darken-1);
  --wt-avatar-letters-p13-color: var(--deep-orange-lighten-1);
  --wt-avatar-letters-p2-color: var(--purple-lighten-2);
  --wt-avatar-letters-p3-color: var(--deep-purple-lighten-2);
  --wt-avatar-letters-p4-color: var(--indigo-lighten-2);
  --wt-avatar-letters-p5-color: var(--blue-lighten-1);
  --wt-avatar-letters-p6-color: var(--cyan-lighten-1);
  --wt-avatar-letters-p7-color: var(--teal-darken-3);
  --wt-avatar-letters-p8-color: var(--green-darken-2);
  --wt-avatar-letters-p9-color: var(--lime-darken-3);
}

