[data-theme="Light"] {
  /* colors */
  --wfm-colors-error-color: var(--error-color);
  --wfm-colors-error-light-color: var(--error-light-color);
  --wfm-colors-error-on-color: var(--error-on-color);
  --wfm-colors-succes-color: var(--success-color);
  --wfm-colors-succes-light-color: var(--success-light-color);
  --wfm-colors-succes-on-color: var(--success-on-color);
  --wfm-colors-type-day-off-color: var(--wfm-colors-error-light-color);
  --wfm-colors-type-holiday-color: var(--pink-lighten-1);
  --wfm-colors-type-pause-color: var(--wfm-colors-warning-color);
  --wfm-colors-type-sick-color: var(--wfm-colors-error-color);
  --wfm-colors-type-vocation-color: var(--cyan-accent-4);
  --wfm-colors-type-vocation-light-color: var(--cyan-lighten-4);
  --wfm-colors-type-working-color: var(--wfm-colors-succes-color);
  --wfm-colors-type-working-on-color: var(--wfm-colors-succes-on-color);
  --wfm-colors-warning-color: var(--warning-color);
  --wfm-colors-warning-light-color: var(--warning-light-color);
  --wfm-colors-warning-on-color: var(--warning-on-color);
}
[data-theme="Dark"] {
  /* colors */
  --wfm-colors-error-color: var(--error-color);
  --wfm-colors-error-light-color: var(--error-light-color);
  --wfm-colors-error-on-color: var(--error-on-color);
  --wfm-colors-succes-color: var(--success-color);
  --wfm-colors-succes-light-color: var(--success-light-color);
  --wfm-colors-succes-on-color: var(--success-on-color);
  --wfm-colors-type-day-off-color: var(--wfm-colors-error-light-color);
  --wfm-colors-type-holiday-color: var(--pink-lighten-1);
  --wfm-colors-type-pause-color: var(--wfm-colors-warning-color);
  --wfm-colors-type-sick-color: var(--blue-lighten-1);
  --wfm-colors-type-vocation-color: var(--cyan-accent-4);
  --wfm-colors-type-vocation-light-color: var(--cyan-lighten-4);
  --wfm-colors-type-working-color: var(--wfm-colors-succes-color);
  --wfm-colors-type-working-on-color: var(--wfm-colors-succes-on-color);
  --wfm-colors-warning-color: var(--warning-color);
  --wfm-colors-warning-light-color: var(--warning-light-color);
  --wfm-colors-warning-on-color: var(--warning-on-color);
}