[data-theme="Light"] {
  /* colors */
  --black: hsl(0 0 0%);
  --white: hsl(0 0 100%);
  --amber-accent-1: hsl(43 91% 75%);
  --amber-accent-2: hsl(43 90% 65%);
  --amber-accent-3: hsl(43 97% 50%);
  --amber-accent-4: hsl(43 97% 40%);
  --amber-darken-1: hsl(43 75% 50%);
  --amber-darken-2: hsl(43 75% 45%);
  --amber-darken-3: hsl(43 75% 40%);
  --amber-darken-4: hsl(43 75% 35%);
  --amber-lighten-1: hsl(43 90% 60%);
  --amber-lighten-2: hsl(43 90% 70%);
  --amber-lighten-3: hsl(43 90% 80%);
  --amber-lighten-4: hsl(43 88% 90%);
  --amber-lighten-5: hsl(43 92% 95%);
  --blue-accent-1: hsl(209 91% 75%);
  --blue-accent-2: hsl(209 90% 65%);
  --blue-accent-3: hsl(209 97% 50%);
  --blue-accent-4: hsl(209 97% 40%);
  --blue-darken-1: hsl(209 75% 50%);
  --blue-darken-2: hsl(209 75% 45%);
  --blue-darken-3: hsl(209 75% 40%);
  --blue-darken-4: hsl(209 75% 35%);
  --blue-lighten-1: hsl(209 90% 60%);
  --blue-lighten-2: hsl(209 90% 70%);
  --blue-lighten-3: hsl(209 90% 80%);
  --blue-lighten-4: hsl(209 88% 90%);
  --blue-lighten-5: hsl(209 92% 95%);
  --cyan-accent-1: hsl(188 91% 75%);
  --cyan-accent-2: hsl(188 90% 65%);
  --cyan-accent-3: hsl(188 97% 50%);
  --cyan-accent-4: hsl(188 97% 40%);
  --cyan-darken-1: hsl(188 75% 50%);
  --cyan-darken-2: hsl(188 75% 45%);
  --cyan-darken-3: hsl(188 75% 40%);
  --cyan-darken-4: hsl(188 75% 35%);
  --cyan-lighten-1: hsl(202 90% 60%);
  --cyan-lighten-2: hsl(188 90% 70%);
  --cyan-lighten-3: hsl(188 90% 80%);
  --cyan-lighten-4: hsl(188 88% 90%);
  --cyan-lighten-5: hsl(188 92% 95%);
  --deep-orange-accent-1: hsl(11 91% 75%);
  --deep-orange-accent-2: hsl(11 90% 65%);
  --deep-orange-accent-3: hsl(11 97% 50%);
  --deep-orange-accent-4: hsl(11 97% 40%);
  --deep-orange-darken-1: hsl(11 75% 50%);
  --deep-orange-darken-2: hsl(11 75% 45%);
  --deep-orange-darken-3: hsl(11 75% 40%);
  --deep-orange-darken-4: hsl(11 75% 35%);
  --deep-orange-lighten-1: hsl(11 90% 60%);
  --deep-orange-lighten-2: hsl(11 90% 70%);
  --deep-orange-lighten-3: hsl(11 90% 80%);
  --deep-orange-lighten-4: hsl(11 88% 90%);
  --deep-orange-lighten-5: hsl(11 92% 95%);
  --deep-purple-accent-1: hsl(263 91% 75%);
  --deep-purple-accent-2: hsl(263 90% 65%);
  --deep-purple-accent-3: hsl(263 97% 50%);
  --deep-purple-accent-4: hsl(263 97% 40%);
  --deep-purple-darken-1: hsl(263 75% 50%);
  --deep-purple-darken-2: hsl(263 75% 45%);
  --deep-purple-darken-3: hsl(263 75% 40%);
  --deep-purple-darken-4: hsl(263 75% 35%);
  --deep-purple-lighten-1: hsl(263 90% 60%);
  --deep-purple-lighten-2: hsl(263 90% 70%);
  --deep-purple-lighten-3: hsl(263 90% 80%);
  --deep-purple-lighten-4: hsl(263 88% 90%);
  --deep-purple-lighten-5: hsl(263 92% 95%);
  --green-accent-1: hsl(121 91% 75%);
  --green-accent-2: hsl(121 90% 65%);
  --green-accent-3: hsl(121 97% 50%);
  --green-accent-4: hsl(121 97% 40%);
  --green-darken-1: hsl(121 75% 50%);
  --green-darken-2: hsl(121 75% 45%);
  --green-darken-3: hsl(121 75% 40%);
  --green-darken-4: hsl(121 75% 35%);
  --green-lighten-1: hsl(121 90% 60%);
  --green-lighten-2: hsl(121 90% 70%);
  --green-lighten-3: hsl(121 90% 80%);
  --green-lighten-4: hsl(121 88% 90%);
  --green-lighten-5: hsl(121 92% 95%);
  --grey-darken-1: hsl(225 20% 44%);
  --grey-darken-2: hsl(225 20% 34%);
  --grey-darken-3: hsl(225 20% 24%);
  --grey-darken-4: hsl(225 20% 14%);
  --grey-darken-5: hsl(225 20% 4%);
  --grey-lighten-1: hsl(225 20% 54%);
  --grey-lighten-2: hsl(225 20% 64%);
  --grey-lighten-3: hsl(225 20% 74%);
  --grey-lighten-4: hsl(225 20% 84%);
  --grey-lighten-5: hsl(225 20% 94%);
  --indigo-accent-1: hsl(232 91% 75%);
  --indigo-accent-2: hsl(232 90% 65%);
  --indigo-accent-3: hsl(232 97% 50%);
  --indigo-accent-4: hsl(232 97% 40%);
  --indigo-darken-1: hsl(232 75% 50%);
  --indigo-darken-2: hsl(232 75% 45%);
  --indigo-darken-3: hsl(232 75% 40%);
  --indigo-darken-4: hsl(232 75% 35%);
  --indigo-lighten-1: hsl(232 90% 60%);
  --indigo-lighten-2: hsl(232 90% 70%);
  --indigo-lighten-3: hsl(232 90% 80%);
  --indigo-lighten-4: hsl(232 88% 90%);
  --indigo-lighten-5: hsl(232 92% 95%);
  --light-blue-accent-1: hsl(202 91% 75%);
  --light-blue-accent-2: hsl(202 90% 65%);
  --light-blue-accent-3: hsl(202 97% 50%);
  --light-blue-accent-4: hsl(202 97% 40%);
  --light-blue-darken-1: hsl(202 75% 50%);
  --light-blue-darken-2: hsl(202 75% 45%);
  --light-blue-darken-3: hsl(202 75% 40%);
  --light-blue-darken-4: hsl(202 75% 35%);
  --light-blue-lighten-1: hsl(202 90% 60%);
  --light-blue-lighten-2: hsl(202 90% 70%);
  --light-blue-lighten-3: hsl(202 90% 80%);
  --light-blue-lighten-4: hsl(202 88% 90%);
  --light-blue-lighten-5: hsl(202 92% 95%);
  --light-green-accent-1: hsl(88 91% 75%);
  --light-green-accent-2: hsl(88 90% 65%);
  --light-green-accent-3: hsl(88 97% 50%);
  --light-green-accent-4: hsl(88 97% 40%);
  --light-green-darken-1: hsl(88 75% 50%);
  --light-green-darken-2: hsl(88 75% 45%);
  --light-green-darken-3: hsl(88 75% 40%);
  --light-green-darken-4: hsl(88 75% 35%);
  --light-green-lighten-1: hsl(88 90% 60%);
  --light-green-lighten-2: hsl(88 90% 70%);
  --light-green-lighten-3: hsl(88 90% 80%);
  --light-green-lighten-4: hsl(88 88% 90%);
  --light-green-lighten-5: hsl(88 92% 95%);
  --lime-accent-1: hsl(66 91% 75%);
  --lime-accent-2: hsl(66 90% 65%);
  --lime-accent-3: hsl(66 97% 50%);
  --lime-accent-4: hsl(66 97% 40%);
  --lime-darken-1: hsl(66 75% 50%);
  --lime-darken-2: hsl(66 75% 45%);
  --lime-darken-3: hsl(66 75% 40%);
  --lime-darken-4: hsl(66 75% 35%);
  --lime-lighten-1: hsl(66 90% 60%);
  --lime-lighten-2: hsl(66 90% 70%);
  --lime-lighten-3: hsl(66 90% 80%);
  --lime-lighten-4: hsl(66 88% 90%);
  --lime-lighten-5: hsl(66 92% 95%);
  --orange-accent-1: hsl(32 91% 75%);
  --orange-accent-2: hsl(32 90% 65%);
  --orange-accent-3: hsl(32 97% 50%);
  --orange-accent-4: hsl(32 97% 40%);
  --orange-darken-1: hsl(32 75% 50%);
  --orange-darken-2: hsl(32 75% 45%);
  --orange-darken-3: hsl(32 75% 40%);
  --orange-darken-4: hsl(32 75% 35%);
  --orange-lighten-1: hsl(32 90% 60%);
  --orange-lighten-2: hsl(32 90% 70%);
  --orange-lighten-3: hsl(32 90% 80%);
  --orange-lighten-4: hsl(32 88% 90%);
  --orange-lighten-5: hsl(32 92% 95%);
  --pink-accent-1: hsl(337 91% 75%);
  --pink-accent-2: hsl(337 90% 65%);
  --pink-accent-3: hsl(337 97% 50%);
  --pink-accent-4: hsl(337 97% 40%);
  --pink-darken-1: hsl(337 75% 50%);
  --pink-darken-2: hsl(337 75% 45%);
  --pink-darken-3: hsl(337 75% 40%);
  --pink-darken-4: hsl(337 75% 35%);
  --pink-lighten-1: hsl(337 90% 60%);
  --pink-lighten-2: hsl(337 90% 70%);
  --pink-lighten-3: hsl(337 90% 80%);
  --pink-lighten-4: hsl(337 88% 90%);
  --pink-lighten-5: hsl(337 92% 95%);
  --purple-accent-1: hsl(291 91% 75%);
  --purple-accent-2: hsl(291 90% 65%);
  --purple-accent-3: hsl(291 97% 50%);
  --purple-accent-4: hsl(291 97% 40%);
  --purple-darken-1: hsl(291 75% 50%);
  --purple-darken-2: hsl(291 75% 45%);
  --purple-darken-3: hsl(291 75% 40%);
  --purple-darken-4: hsl(291 75% 35%);
  --purple-lighten-1: hsl(291 90% 60%);
  --purple-lighten-2: hsl(291 90% 70%);
  --purple-lighten-3: hsl(291 90% 80%);
  --purple-lighten-4: hsl(291 88% 90%);
  --purple-lighten-5: hsl(291 92% 95%);
  --red-accent-1: hsl(1 91% 75%);
  --red-accent-2: hsl(1 90% 65%);
  --red-accent-3: hsl(1 97% 50%);
  --red-accent-4: hsl(1 97% 40%);
  --red-darken-1: hsl(1 75% 50%);
  --red-darken-2: hsl(1 75% 45%);
  --red-darken-3: hsl(1 75% 40%);
  --red-darken-4: hsl(1 75% 35%);
  --red-lighten-1: hsl(1 90% 60%);
  --red-lighten-2: hsl(1 90% 70%);
  --red-lighten-3: hsl(1 90% 80%);
  --red-lighten-4: hsl(0 88% 90%);
  --red-lighten-5: hsl(0 92% 95%);
  --teal-accent-1: hsl(173 91% 75%);
  --teal-accent-2: hsl(173 90% 65%);
  --teal-accent-3: hsl(173 97% 50%);
  --teal-accent-4: hsl(173 97% 40%);
  --teal-darken-1: hsl(173 75% 50%);
  --teal-darken-2: hsl(173 75% 45%);
  --teal-darken-3: hsl(173 75% 40%);
  --teal-darken-4: hsl(173 75% 35%);
  --teal-lighten-1: hsl(173 90% 60%);
  --teal-lighten-2: hsl(173 90% 70%);
  --teal-lighten-3: hsl(173 90% 80%);
  --teal-lighten-4: hsl(173 88% 90%);
  --teal-lighten-5: hsl(173 92% 95%);
  --yellow-accent-1: hsl(54 91% 75%);
  --yellow-accent-2: hsl(54 90% 65%);
  --yellow-accent-3: hsl(54 97% 50%);
  --yellow-accent-4: hsl(54 97% 40%);
  --yellow-darken-1: hsl(54 75% 50%);
  --yellow-darken-2: hsl(54 75% 45%);
  --yellow-darken-3: hsl(54 75% 40%);
  --yellow-darken-4: hsl(54 75% 35%);
  --yellow-lighten-1: hsl(54 90% 60%);
  --yellow-lighten-2: hsl(54 90% 70%);
  --yellow-lighten-3: hsl(54 90% 80%);
  --yellow-lighten-4: hsl(54 88% 90%);
  --yellow-lighten-5: hsl(54 92% 95%);
}

