[data-theme="Light"] {
  /* colors */
  --accent-color: var(--purple-lighten-1);
  --accent-sub-color: var(--indigo-darken-3);
  --chat-color: var(--indigo-accent-2);
  --chat-hover-color: var(--indigo-accent-1);
  --chat-light-color: var(--indigo-lighten-4);
  --chat-on-color: var(--black);
  --dp-1-surface-color: hsl(225 20% 77%);
  --dp-10-surface-color: hsl(225 20% 86%);
  --dp-11-surface-color: hsl(225 20% 87%);
  --dp-12-surface-color: hsl(225 20% 88%);
  --dp-13-surface-color: hsl(225 20% 89%);
  --dp-14-surface-color: hsl(225 20% 90%);
  --dp-15-surface-color: hsl(225 20% 91%);
  --dp-16-surface-color: hsl(225 20% 92%);
  --dp-17-surface-color: hsl(225 20% 93%);
  --dp-18-surface-color: hsl(225 20% 94%);
  --dp-19-surface-color: hsl(225 20% 95%);
  --dp-2-surface-color: hsl(225 20% 78%);
  --dp-20-surface-color: hsl(225 20% 96%);
  --dp-21-surface-color: hsl(225 20% 97%);
  --dp-22-surface-color: hsl(225 20% 98%);
  --dp-23-surface-color: hsl(225 20% 99%);
  --dp-24-surface-color: hsl(0 0 100%);
  --dp-3-surface-color: hsl(225 20% 79%);
  --dp-4-surface-color: hsl(225 20% 80%);
  --dp-5-surface-color: hsl(225 20% 81%);
  --dp-6-surface-color: hsl(225 20% 82%);
  --dp-7-surface-color: hsl(225 20% 83%);
  --dp-8-surface-color: hsl(225 20% 84%);
  --dp-9-surface-color: hsl(225 20% 85%);
  --error-color: var(--red-accent-2);
  --error-hover-color: var(--red-lighten-2);
  --error-light-color: var(--red-lighten-4);
  --error-on-color: var(--white);
  --info-color: var(--blue-darken-1);
  --info-hover-color: var(--blue-lighten-1);
  --info-light-color: var(--blue-lighten-4);
  --info-on-color: var(--black);
  --job-color: var(--blue-darken-1);
  --job-hover-color: var(--blue-lighten-1);
  --job-light-color: var(--blue-lighten-4);
  --job-on-color: var(--black);
  --primary-color: var(--amber-accent-3);
  --primary-hover-color: var(--amber-accent-2);
  --primary-light-color: var(--amber-lighten-4);
  --primary-on-color: var(--black);
  --success-color: var(--green-darken-4);
  --success-hover-color: var(--green-darken-3);
  --success-light-color: var(--green-lighten-4);
  --success-on-color: var(--black);
  --text-disabled-color: var(--grey-lighten-1);
  --text-error-color: var(--error-color);
  --text-link-color: var(--info-color);
  --text-main-color: var(--grey-darken-3);
  --transfer-color: var(--indigo-lighten-1);
  --transfer-hover-color: var(--indigo-lighten-2);
  --transfer-light-color: var(--indigo-lighten-4);
  --transfer-on-color: var(--white);
  --wt-app-header-background: var(--dp-9-surface-color);
  --wt-app-navigation-wrapper-bg-color: var(--dp-18-surface-color);
  --wt-app-navigation-wrapper-button-default-color: var(--dp-18-surface-color);
  --wt-app-navigation-wrapper-button-hover-color: var(--dp-20-surface-color);
  --wt-app-navigation-wrapper-li-bg-color: var(--dp-14-surface-color);
  --wt-app-navigation-wrapper-text-color: var(--text-main-color);
  --wt-app-navigator-bg-color: var(--dp-18-surface-color);
  --wt-app-navigator-button-default-color: var(--dp-18-surface-color);
  --wt-app-navigator-button-hover-color: var(--dp-20-surface-color);
  --wt-avatar-letters-font-color: var(--white);
  --wt-avatar-letters-p1-color: var(--red-lighten-2);
  --wt-avatar-letters-p10-color: var(--yellow-darken-3);
  --wt-avatar-letters-p11-color: var(--amber-darken-3);
  --wt-avatar-letters-p12-color: var(--orange-darken-1);
  --wt-avatar-letters-p13-color: var(--deep-orange-lighten-1);
  --wt-avatar-letters-p2-color: var(--purple-lighten-2);
  --wt-avatar-letters-p3-color: var(--deep-purple-lighten-2);
  --wt-avatar-letters-p4-color: var(--indigo-lighten-2);
  --wt-avatar-letters-p5-color: var(--blue-lighten-1);
  --wt-avatar-letters-p6-color: var(--cyan-lighten-1);
  --wt-avatar-letters-p7-color: var(--teal-darken-3);
  --wt-avatar-letters-p8-color: var(--green-darken-2);
  --wt-avatar-letters-p9-color: var(--lime-darken-3);
  --wt-badge-busy-color: var(--error-color);
  --wt-badge-dnd-color: var(--warning-color);
  --wt-badge-error-color: var(--error-color);
  --wt-badge-offline-color: var(--grey-lighten-4);
  --wt-badge-online-cc-color: var(--success-color);
  --wt-badge-online-color: var(--success-color);
  --wt-badge-pause-color: var(--warning-color);
  --wt-badge-succes-color: var(--success-color);
  --wt-badge-value-text-color: var(--white);
  --wt-badge-warning-color: var(--warning-color);
  --wt-buttons-disabled-color: var(--dp-16-surface-color);
  --wt-buttons-disabled-text-color: var(--grey-darken-1);
  --wt-buttons-error-color: var(--error-color);
  --wt-buttons-error-hover-color: var(--error-hover-color);
  --wt-buttons-error-text-color: var(--grey-lighten-5);
  --wt-buttons-info-color: var(--info-color);
  --wt-buttons-info-hover-color: var(--info-hover-color);
  --wt-buttons-info-text-color: var(--grey-lighten-5);
  --wt-buttons-job-color: var(--info-color);
  --wt-buttons-job-hover-color: var(--info-hover-color);
  --wt-buttons-job-text-color: var(--grey-lighten-5);
  --wt-buttons-primary-color: var(--primary-color);
  --wt-buttons-primary-hover-color: var(--primary-hover-color);
  --wt-buttons-primary-text-color: var(--primary-on-color);
  --wt-buttons-secondary-color: var(--dp-10-surface-color);
  --wt-buttons-secondary-hover-color: var(--dp-14-surface-color);
  --wt-buttons-secondary-text-color: var(--grey-darken-4);
  --wt-buttons-success-color: var(--success-color);
  --wt-buttons-success-hover-color: var(--success-hover-color);
  --wt-buttons-success-text-color: var(--grey-lighten-5);
  --wt-buttons-transfer-color: var(--transfer-color);
  --wt-buttons-transfer-hover-color: var(--transfer-hover-color);
  --wt-buttons-transfer-text-color: var(--transfer-on-color);
  --wt-chip-license-0: var(--error-color);
  --wt-chip-license-30: var(--error-light-color);
  --wt-chip-license-90: var(--warning-color);
  --wt-chip-license-valid: var(--success-color);
  --wt-chip-primary-color: var(--primary-color);
  --wt-chip-secondary-color: var(--dp-14-surface-color);
  --wt-chip-success-color: var(--success-color);
  --wt-chip-text-primary-color: var(--primary-on-color);
  --wt-chip-text-secondary-color: var(--grey-darken-4);
  --wt-chip-text-succes-color: var(--grey-lighten-5);
  --wt-content-wrapper-color: var(--dp-20-surface-color);
  --wt-context-menu-background-color: var(--wt-content-wrapper-color);
  --wt-context-menu-option-color--disabled: var(--dp-14-surface-color);
  --wt-context-menu-option-color--disabled-text: var(--grey-lighten-3);
  --wt-context-menu-option-color--hover: var(--dp-24-surface-color);
  --wt-divider-color: var(--grey-lighten-5);
  --wt-expansion-panel-header-color: var(--dp-16-surface-color);
  --wt-expansion-panel-text-color: var(--text-main-color);
  --wt-expansion-panel-title-color: var(--text-main-color);
  --wt-expansion-panel-wrapper-color: var(--wt-content-wrapper-color);
  --wt-icon-active-color: var(--grey-darken-4);
  --wt-icon-chat-color: var(--chat-color);
  --wt-icon-color: var(--grey-darken-2);
  --wt-icon-disabled-color: var(--grey-lighten-4);
  --wt-icon-error-color: var(--error-color);
  --wt-icon-hover-color: var(--grey-darken-5);
  --wt-icon-info-color: var(--info-color);
  --wt-icon-job-color: var(--job-color);
  --wt-icon-primary-color: var(--primary-color);
  --wt-icon-success-color: var(--success-color);
  --wt-icon-transfer-color: var(--transfer-color);
  --wt-icon-warning-color: var(--warning-color);
  --wt-icon-on-chat-color: var(--chat-on-color);
  --wt-icon-on-dark-color: var(--white);
  --wt-icon-on-error-color: var(--error-on-color);
  --wt-icon-on-info-color: var(--info-on-color);
  --wt-icon-on-job-color: var(--job-on-color);
  --wt-icon-on-light-color: var(--grey-darken-3);
  --wt-icon-on-primary-color: var(--primary-on-color);
  --wt-icon-on-success-color: var(--success-on-color);
  --wt-icon-on-transfer-color: var(--transfer-on-color);
  --wt-icon-on-warning-color: var(--warning-on-color);
  --wt-indicator-break-out-color: var(--warning-color);
  --wt-indicator-disabled-color: var(--grey-lighten-2);
  --wt-indicator-error-color: var(--error-color);
  --wt-indicator-primary-color: var(--primary-color);
  --wt-indicator-success-color: var(--success-color);
  --wt-indicator-transfer-color: var(--transfer-color);
  --wt-label-default-color: var(--text-main-color);
  --wt-label-disablerd-color: var(--text-disabled-color);
  --wt-label-error-color: var(--error-color);
  --wt-load-bar-color: var(--primary-color);
  --wt-loader-dot-color: var(--primary-color);
  --wt-loader-path-color: var(--grey-darken-2);
  --wt-logo-app-color: var(--grey-darken-3);
  --wt-logo-header-color: var(--grey-lighten-2);
  --wt-navigation-drawer-button-default-color: var(--dp-18-surface-color);
  --wt-navigation-drawer-button-hover-color: var(--dp-20-surface-color);
  --wt-navigation-drawer-button-text-color: var(--text-main-color);
  --wt-navigation-drawer-wrapper-bg-color: var(--dp-18-surface-color);
  --wt-page-wrapper-bg-color: var(--grey-lighten-5);
  --wt-player-wrapper-color: var(--wt-content-wrapper-color);
  --wt-popup-body-text-color: var(--text-main-color);
  --wt-popup-bg-color: var(--dp-24-surface-color);
  --wt-popup-header-bg-color: var(--dp-18-surface-color);
  --wt-popup-header-text-color: var(--text-main-color);
  --wt-processing-timer-bg-color: var(--dp-16-surface-color);
  --wt-processing-timer-color: var(--dp-8-surface-color);
  --wt-processing-timer-error-color: var(--error-color);
  --wt-processing-timer-success-color: var(--success-color);
  --wt-processing-timer-text-color: var(--text-main-color);
  --wt-processing-timer-warning-color: var(--warning-color);
  --wt-progress-bar-bg-color: var(--dp-10-surface-color);
  --wt-progress-bar-color-primary: var(--primary-color);
  --wt-progress-bar-color-secondary: var(--grey-lighten-2);
  --wt-progress-bar-color-success: var(--success-color);
  --wt-progress-bar-color-warning: var(--warning-color);
  --wt-rounded-action-active-border-color: var(--dp-12-surface-color);
  --wt-rounded-action-disabled-color: var(--dp-18-surface-color);
  --wt-rounded-action-disabled-icon-color: var(--grey-lighten-2);
  --wt-rounded-action-error-color: var(--dp-18-surface-color);
  --wt-rounded-action-error-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-primary-color: var(--dp-18-surface-color);
  --wt-rounded-action-primary-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-secondary-color: var(--dp-18-surface-color);
  --wt-rounded-action-secondary-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-succes-color: var(--dp-18-surface-color);
  --wt-rounded-action-succes-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-transfer-color: var(--dp-18-surface-color);
  --wt-rounded-action-transfer-hover-color: var(--dp-20-surface-color);
  --wt-scrollbar-bg-color: var(--dp-16-surface-color);
  --wt-scrollbar-thumb-color: var(--primary-color);
  --wt-sonars-active-call-color: var(--success-color);
  --wt-sonars-error-color: var(--error-color);
  --wt-sonars-hold-call-color: var(--warning-color);
  --wt-sonars-inbound-call-color: var(--error-color);
  --wt-sonars-recording-call-color: var(--error-color);
  --wt-sonars-ringing-call-color: var(--grey-darken-4);
  --wt-status-bar-error-color: var(--error-color);
  --wt-status-bar-path-color: var(--dp-7-surface-color);
  --wt-status-bar-succes-color: var(--success-color);
  --wt-status-bar-warning-color: var(--warning-color);
  --wt-switcher-bg-color--off: var(--grey-darken-2);
  --wt-switcher-bg-color--off-disabled: var(--grey-lighten-4);
  --wt-switcher-bg-color--off-hover: var(--grey-darken-1);
  --wt-switcher-bg-color--on: var(--primary-color);
  --wt-switcher-bg-color--on-disabled: var(--primary-light-color);
  --wt-switcher-bg-color--on-hover: var(--primary-hover-color);
  --wt-switcher-circle-bg-color--off: var(--grey-lighten-4);
  --wt-switcher-circle-bg-color--off-disabled: var(--grey-lighten-3);
  --wt-switcher-circle-bg-color--off-hover: var(--grey-lighten-5);
  --wt-switcher-circle-bg-color--on: var(--grey-darken-3);
  --wt-switcher-circle-bg-color--on-hover: var(--grey-darken-4);
  --wt-tabs-color: var(--primary-color);
  --wt-tabs-text-color: var(--text-main-color);
  --wt-teble-header-border-color: var(--grey-lighten-1);
  --wt-teble-zebra-color: var(--dp-18-surface-color);
  --wt-text-field-error-text-color: var(--error-color);
  --wt-text-field-helper-text-color: var(--text-main-color);
  --wt-text-field-helper-text-disabled-color: var(--text-disabled-color);
  --wt-text-field-input-border-color: var(--grey-darken-1);
  --wt-text-field-input-border-disabled-color: var(--dp-16-surface-color);
  --wt-text-field-input-border-error-color: var(--error-color);
  --wt-text-field-placeholder-color: var(--text-main-color);
  --wt-text-field-placeholder-disabled-color: var(--text-disabled-color);
  --wt-text-field-placeholder-error-color: var(--error-color);
  --wt-tooltip-color: var(--dp-24-surface-color);
  --wt-tooltip-text-color: var(--text-main-color);
  --warning-color: var(--orange-accent-2);
  --warning-hover-color: var(--orange-accent-1);
  --warning-light-color: var(--orange-lighten-4);
  --warning-on-color: var(--black);
  /* numbers */
  --corner-radius-0: 0px;
  --corner-radius-sm: var(--spacing-2xs);
  --corner-radius-md: var(--spacing-xs);
  --corner-radius-lg: var(--spacing-sm);
  --corner-radius-pill: var(--spacing-3xl);
  --paddings-0: 0px;
  --paddings-3xs: var(--spacing-3xs);
  --paddings-2xs: var(--spacing-2xs);
  --paddings-xs: var(--spacing-xs);
  --paddings-sm: var(--spacing-sm);
  --paddings-md: var(--spacing-md);
  --wt-app-header-vertical-padding: var(--paddings-xs);
  --wt-app-header-gap: var(--wt-gap-sm);
  --wt-app-header-horizontal-padding: var(--paddings-sm);
  --wt-app-navigation-wrapper-button-corner-radius: var(--corner-radius-md);
  --wt-app-navigation-wrapper-corner-radius: var(--corner-radius-md);
  --wt-buttons---sm-button-vertical-padding: var(--paddings-2xs);
  --wt-buttons---button-corner-radius: var(--corner-radius-md);
  --wt-buttons---md-button-vertical-padding: var(--paddings-xs);
  --wt-buttons---sm-button-horisontal-padding: var(--paddings-xs);
  --wt-buttons---md-button-horisontal-padding: var(--paddings-sm);
  --wt-chip-vertical-padding: var(--spacing-2xs);
  --wt-chip-horisontal-padding: var(--paddings-sm);
  --wt-chip-corner-radius: var(--corner-radius-pill);
  --wt-content-wrapper-corner-radius: var(--corner-radius-md);
  --wt-content-wrapper-gap: var(--paddings-sm);
  --wt-content-wrapper-padding: var(--paddings-sm);
  --wt-expansion-panel-content-wrapper-gap: var(--spacing-xs);
  --wt-expansion-panel-content-wrapper-padding: var(--paddings-xs);
  --wt-expansion-panel-header-corner-radius: var(--corner-radius-md);
  --wt-expansion-panel-header-gap: var(--wt-gap-xs);
  --wt-expansion-panel-header-padding: var(--paddings-xs);
  --wt-gap-0: 0px;
  --wt-gap-3xs: var(--spacing-3xs);
  --wt-gap-2xs: var(--spacing-2xs);
  --wt-gap-xs: var(--spacing-xs);
  --wt-gap-sm: var(--spacing-sm);
  --wt-gap-md: var(--spacing-md);
  --wt-label-gap: var(--wt-gap-2xs);
  --wt-label-vertical-padding: var(--paddings-2xs);
  --wt-label-horisontal-padding: var(--paddings-xs);
  --wt-navigation-drawer-border-radius: var(--corner-radius-0);
  --wt-navigation-drawer-button-border-radius: var(--corner-radius-md);
  --wt-page-wrapper-gap: var(--spacing-sm);
  --wt-page-wrapper-horizontal-padding: var(--paddings-sm);
  --wt-page-wrapper-vertical-padding: var(--paddings-sm);
  --wt-player-corner-radius: var(--corner-radius-md);
  --wt-player-gap: var(--spacing-sm);
  --wt-player-horizontal-padding: var(--paddings-sm);
  --wt-player-vertical-padding: var(--paddings-sm);
  --wt-popup-corner-radius: var(--corner-radius-md);
  --wt-popup-header-bottom-padding: var(--spacing-xs);
  --wt-popup-header-corner-radius: var(--corner-radius-md);
  --wt-popup-header-right-padding: var(--paddings-xs);
  --wt-popup-header-top-padding: var(--paddings-xs);
  --wt-popup-header-left-padding: var(--paddings-sm);
  --wt-popup-padding: var(--paddings-sm);
  --wt-rounded-action-corner-radius-square: var(--corner-radius-md);
  --wt-rounded-action-corner-radius-circle: var(--corner-radius-pill);
  --wt-rounded-action-padding-md: var(--paddings-xs);
  --wt-rounded-action-padding-sm: var(--spacing-xs);
  --wt-teble-row-corner-radius: var(--corner-radius-md);
  --wt-text-field-helper-text---helper-gap: var(--wt-gap-2xs);
  --wt-text-field-helper-text-vertical-padding: var(--paddings-2xs);
  --wt-text-field-helper-text-horisontal-padding: var(--paddings-xs);
  --wt-text-field-input-corner-radius: var(--corner-radius-md);
  --wt-text-field-input-padding: var(--spacing-xs);
  --wt-tooltip-corner-radius: var(--corner-radius-md);
  --wt-tooltip-vertical-padding: var(--paddings-xs);
  --wt-tooltip-horizontal-padding: var(--paddings-sm);
}
[data-theme="Dark"] {
  /* colors */
  --accent-color: var(--purple-lighten-1);
  --accent-sub-color: var(--indigo-darken-3);
  --chat-color: var(--indigo-accent-2);
  --chat-hover-color: var(--indigo-accent-1);
  --chat-light-color: var(--indigo-lighten-3);
  --chat-on-color: var(--white);
  --dp-1-surface-color: hsl(225 20% 2%);
  --dp-10-surface-color: hsl(225 20% 11%);
  --dp-11-surface-color: hsl(225 20% 12%);
  --dp-12-surface-color: hsl(225 20% 13%);
  --dp-13-surface-color: hsl(225 20% 14%);
  --dp-14-surface-color: hsl(225 20% 15%);
  --dp-15-surface-color: hsl(225 20% 16%);
  --dp-16-surface-color: hsl(225 20% 17%);
  --dp-17-surface-color: hsl(225 20% 18%);
  --dp-18-surface-color: hsl(225 20% 19%);
  --dp-19-surface-color: hsl(225 20% 20%);
  --dp-2-surface-color: hsl(225 20% 3%);
  --dp-20-surface-color: hsl(225 20% 21%);
  --dp-21-surface-color: hsl(225 20% 22%);
  --dp-22-surface-color: hsl(225 20% 23%);
  --dp-23-surface-color: hsl(225 20% 24%);
  --dp-24-surface-color: hsl(225 20% 25%);
  --dp-3-surface-color: hsl(225 20% 4%);
  --dp-4-surface-color: hsl(225 20% 5%);
  --dp-5-surface-color: hsl(225 20% 6%);
  --dp-6-surface-color: hsl(225 20% 7%);
  --dp-7-surface-color: hsl(225 20% 8%);
  --dp-8-surface-color: hsl(225 20% 9%);
  --dp-9-surface-color: hsl(225 20% 10%);
  --error-color: var(--red-accent-2);
  --error-hover-color: var(--red-lighten-2);
  --error-light-color: var(--red-lighten-3);
  --error-on-color: var(--black);
  --info-color: var(--blue-darken-1);
  --info-hover-color: var(--blue-lighten-1);
  --info-light-color: var(--blue-lighten-3);
  --info-on-color: var(--white);
  --job-color: var(--blue-darken-1);
  --job-hover-color: var(--blue-lighten-1);
  --job-light-color: var(--blue-lighten-3);
  --job-on-color: var(--white);
  --primary-color: var(--amber-darken-2);
  --primary-hover-color: var(--amber-darken-1);
  --primary-light-color: var(--amber-lighten-4);
  --primary-on-color: var(--black);
  --success-color: var(--green-darken-4);
  --success-hover-color: var(--green-darken-3);
  --success-light-color: var(--green-lighten-3);
  --success-on-color: var(--white);
  --text-disabled-color: var(--grey-darken-1);
  --text-error-color: var(--error-color);
  --text-link-color: var(--info-color);
  --text-main-color: var(--grey-lighten-3);
  --transfer-color: var(--indigo-lighten-1);
  --transfer-hover-color: var(--indigo-lighten-2);
  --transfer-light-color: var(--indigo-lighten-4);
  --transfer-on-color: var(--white);
  --wt-app-header-background: var(--dp-9-surface-color);
  --wt-app-navigation-wrapper-bg-color: var(--dp-18-surface-color);
  --wt-app-navigation-wrapper-button-default-color: var(--dp-18-surface-color);
  --wt-app-navigation-wrapper-button-hover-color: var(--dp-20-surface-color);
  --wt-app-navigation-wrapper-li-bg-color: var(--dp-14-surface-color);
  --wt-app-navigation-wrapper-text-color: var(--text-main-color);
  --wt-app-navigator-bg-color: var(--dp-18-surface-color);
  --wt-app-navigator-button-default-color: var(--dp-18-surface-color);
  --wt-app-navigator-button-hover-color: var(--dp-20-surface-color);
  --wt-avatar-letters-font-color: var(--black);
  --wt-avatar-letters-p1-color: var(--red-lighten-2);
  --wt-avatar-letters-p10-color: var(--yellow-darken-3);
  --wt-avatar-letters-p11-color: var(--amber-darken-3);
  --wt-avatar-letters-p12-color: var(--orange-darken-1);
  --wt-avatar-letters-p13-color: var(--deep-orange-lighten-1);
  --wt-avatar-letters-p2-color: var(--purple-lighten-2);
  --wt-avatar-letters-p3-color: var(--deep-purple-lighten-2);
  --wt-avatar-letters-p4-color: var(--indigo-lighten-2);
  --wt-avatar-letters-p5-color: var(--blue-lighten-1);
  --wt-avatar-letters-p6-color: var(--cyan-lighten-1);
  --wt-avatar-letters-p7-color: var(--teal-darken-3);
  --wt-avatar-letters-p8-color: var(--green-darken-2);
  --wt-avatar-letters-p9-color: var(--lime-darken-3);
  --wt-badge-busy-color: var(--error-color);
  --wt-badge-dnd-color: var(--warning-color);
  --wt-badge-error-color: var(--error-color);
  --wt-badge-offline-color: var(--grey-lighten-4);
  --wt-badge-online-cc-color: var(--success-color);
  --wt-badge-online-color: var(--success-color);
  --wt-badge-pause-color: var(--warning-color);
  --wt-badge-succes-color: var(--success-color);
  --wt-badge-value-text-color: var(--black);
  --wt-badge-warning-color: var(--warning-color);
  --wt-buttons-disabled-color: var(--dp-16-surface-color);
  --wt-buttons-disabled-text-color: var(--grey-lighten-1);
  --wt-buttons-error-color: var(--error-color);
  --wt-buttons-error-hover-color: var(--error-hover-color);
  --wt-buttons-error-text-color: var(--grey-lighten-5);
  --wt-buttons-info-color: var(--info-color);
  --wt-buttons-info-hover-color: var(--info-hover-color);
  --wt-buttons-info-text-color: var(--grey-lighten-5);
  --wt-buttons-job-color: var(--info-color);
  --wt-buttons-job-hover-color: var(--info-hover-color);
  --wt-buttons-job-text-color: var(--grey-lighten-5);
  --wt-buttons-primary-color: var(--primary-color);
  --wt-buttons-primary-hover-color: var(--primary-hover-color);
  --wt-buttons-primary-text-color: var(--primary-on-color);
  --wt-buttons-secondary-color: var(--dp-10-surface-color);
  --wt-buttons-secondary-hover-color: var(--dp-14-surface-color);
  --wt-buttons-secondary-text-color: var(--grey-lighten-4);
  --wt-buttons-success-color: var(--success-color);
  --wt-buttons-success-hover-color: var(--success-hover-color);
  --wt-buttons-success-text-color: var(--grey-lighten-5);
  --wt-buttons-transfer-color: var(--transfer-color);
  --wt-buttons-transfer-hover-color: var(--transfer-hover-color);
  --wt-buttons-transfer-text-color: var(--transfer-on-color);
  --wt-chip-license-0: var(--error-color);
  --wt-chip-license-30: var(--error-light-color);
  --wt-chip-license-90: var(--warning-color);
  --wt-chip-license-valid: var(--success-color);
  --wt-chip-primary-color: var(--primary-color);
  --wt-chip-secondary-color: var(--dp-14-surface-color);
  --wt-chip-success-color: var(--success-color);
  --wt-chip-text-primary-color: var(--primary-on-color);
  --wt-chip-text-secondary-color: var(--grey-lighten-4);
  --wt-chip-text-succes-color: var(--grey-darken-5);
  --wt-content-wrapper-color: var(--dp-20-surface-color);
  --wt-context-menu-background-color: var(--wt-content-wrapper-color);
  --wt-context-menu-option-color--disabled: var(--dp-14-surface-color);
  --wt-context-menu-option-color--disabled-text: var(--grey-darken-2);
  --wt-context-menu-option-color--hover: var(--dp-24-surface-color);
  --wt-divider-color: var(--grey-darken-3);
  --wt-expansion-panel-header-color: var(--dp-16-surface-color);
  --wt-expansion-panel-text-color: var(--text-main-color);
  --wt-expansion-panel-title-color: var(--text-main-color);
  --wt-expansion-panel-wrapper-color: var(--wt-content-wrapper-color);
  --wt-icon-active-color: var(--grey-lighten-4);
  --wt-icon-chat-color: var(--chat-color);
  --wt-icon-color: var(--grey-lighten-2);
  --wt-icon-disabled-color: var(--grey-darken-2);
  --wt-icon-error-color: var(--error-color);
  --wt-icon-hover-color: var(--grey-lighten-5);
  --wt-icon-info-color: var(--info-color);
  --wt-icon-job-color: var(--job-color);
  --wt-icon-primary-color: var(--primary-color);
  --wt-icon-success-color: var(--success-color);
  --wt-icon-transfer-color: var(--transfer-color);
  --wt-icon-warning-color: var(--warning-color);
  --wt-icon-on-chat-color: var(--chat-on-color);
  --wt-icon-on-dark-color: var(--white);
  --wt-icon-on-error-color: var(--error-on-color);
  --wt-icon-on-info-color: var(--info-on-color);
  --wt-icon-on-job-color: var(--job-on-color);
  --wt-icon-on-light-color: var(--grey-darken-3);
  --wt-icon-on-primary-color: var(--primary-on-color);
  --wt-icon-on-success-color: var(--success-on-color);
  --wt-icon-on-transfer-color: var(--transfer-on-color);
  --wt-icon-on-warning-color: var(--warning-on-color);
  --wt-indicator-break-out-color: var(--warning-color);
  --wt-indicator-disabled-color: var(--grey-darken-2);
  --wt-indicator-error-color: var(--error-color);
  --wt-indicator-primary-color: var(--primary-color);
  --wt-indicator-success-color: var(--success-color);
  --wt-indicator-transfer-color: var(--transfer-color);
  --wt-label-default-color: var(--text-main-color);
  --wt-label-disablerd-color: var(--text-disabled-color);
  --wt-label-error-color: var(--error-color);
  --wt-load-bar-color: var(--primary-color);
  --wt-loader-dot-color: var(--primary-color);
  --wt-loader-path-color: var(--grey-lighten-2);
  --wt-logo-app-color: var(--grey-lighten-5);
  --wt-logo-header-color: var(--grey-darken-2);
  --wt-navigation-drawer-button-default-color: var(--dp-18-surface-color);
  --wt-navigation-drawer-button-hover-color: var(--dp-20-surface-color);
  --wt-navigation-drawer-button-text-color: var(--text-main-color);
  --wt-navigation-drawer-wrapper-bg-color: var(--dp-18-surface-color);
  --wt-page-wrapper-bg-color: var(--grey-darken-4);
  --wt-player-wrapper-color: var(--wt-content-wrapper-color);
  --wt-popup-body-text-color: var(--text-main-color);
  --wt-popup-bg-color: var(--dp-24-surface-color);
  --wt-popup-header-bg-color: var(--dp-18-surface-color);
  --wt-popup-header-text-color: var(--text-main-color);
  --wt-processing-timer-bg-color: var(--dp-16-surface-color);
  --wt-processing-timer-color: var(--dp-8-surface-color);
  --wt-processing-timer-error-color: var(--error-color);
  --wt-processing-timer-success-color: var(--success-color);
  --wt-processing-timer-text-color: var(--text-main-color);
  --wt-processing-timer-warning-color: var(--warning-color);
  --wt-progress-bar-bg-color: var(--dp-10-surface-color);
  --wt-progress-bar-color-primary: var(--primary-color);
  --wt-progress-bar-color-secondary: var(--grey-darken-2);
  --wt-progress-bar-color-success: var(--success-color);
  --wt-progress-bar-color-warning: var(--warning-color);
  --wt-rounded-action-active-border-color: var(--dp-12-surface-color);
  --wt-rounded-action-disabled-color: var(--dp-18-surface-color);
  --wt-rounded-action-disabled-icon-color: var(--grey-darken-2);
  --wt-rounded-action-error-color: var(--dp-18-surface-color);
  --wt-rounded-action-error-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-primary-color: var(--dp-18-surface-color);
  --wt-rounded-action-primary-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-secondary-color: var(--dp-18-surface-color);
  --wt-rounded-action-secondary-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-succes-color: var(--dp-18-surface-color);
  --wt-rounded-action-succes-hover-color: var(--dp-20-surface-color);
  --wt-rounded-action-transfer-color: var(--dp-18-surface-color);
  --wt-rounded-action-transfer-hover-color: var(--dp-20-surface-color);
  --wt-scrollbar-bg-color: var(--dp-16-surface-color);
  --wt-scrollbar-thumb-color: var(--primary-color);
  --wt-sonars-active-call-color: var(--success-color);
  --wt-sonars-error-color: var(--error-color);
  --wt-sonars-hold-call-color: var(--warning-color);
  --wt-sonars-inbound-call-color: var(--error-color);
  --wt-sonars-recording-call-color: var(--error-color);
  --wt-sonars-ringing-call-color: var(--grey-lighten-4);
  --wt-status-bar-error-color: var(--error-color);
  --wt-status-bar-path-color: var(--dp-7-surface-color);
  --wt-status-bar-succes-color: var(--success-color);
  --wt-status-bar-warning-color: var(--warning-color);
  --wt-switcher-bg-color--off: var(--grey-lighten-1);
  --wt-switcher-bg-color--off-disabled: var(--grey-darken-2);
  --wt-switcher-bg-color--off-hover: var(--grey-lighten-2);
  --wt-switcher-bg-color--on: var(--primary-color);
  --wt-switcher-bg-color--on-disabled: var(--primary-light-color);
  --wt-switcher-bg-color--on-hover: var(--primary-hover-color);
  --wt-switcher-circle-bg-color--off: var(--grey-darken-4);
  --wt-switcher-circle-bg-color--off-disabled: var(--grey-darken-3);
  --wt-switcher-circle-bg-color--off-hover: var(--grey-darken-3);
  --wt-switcher-circle-bg-color--on: var(--grey-darken-3);
  --wt-switcher-circle-bg-color--on-hover: var(--grey-darken-4);
  --wt-tabs-color: var(--primary-color);
  --wt-tabs-text-color: var(--text-main-color);
  --wt-teble-header-border-color: var(--grey-darken-1);
  --wt-teble-zebra-color: var(--dp-18-surface-color);
  --wt-text-field-error-text-color: var(--error-color);
  --wt-text-field-helper-text-color: var(--text-main-color);
  --wt-text-field-helper-text-disabled-color: var(--text-disabled-color);
  --wt-text-field-input-border-color: var(--grey-lighten-1);
  --wt-text-field-input-border-disabled-color: var(--dp-16-surface-color);
  --wt-text-field-input-border-error-color: var(--error-color);
  --wt-text-field-placeholder-color: var(--text-main-color);
  --wt-text-field-placeholder-disabled-color: var(--text-disabled-color);
  --wt-text-field-placeholder-error-color: var(--error-color);
  --wt-tooltip-color: var(--dp-24-surface-color);
  --wt-tooltip-text-color: var(--text-main-color);
  --warning-color: var(--orange-accent-2);
  --warning-hover-color: var(--orange-accent-1);
  --warning-light-color: var(--orange-lighten-3);
  --warning-on-color: var(--white);
  /* numbers */
  --corner-radius-0: 0px;
  --corner-radius-sm: var(--spacing-2xs);
  --corner-radius-md: var(--spacing-xs);
  --corner-radius-lg: var(--spacing-sm);
  --corner-radius-pill: var(--spacing-3xl);
  --paddings-0: 0px;
  --paddings-3xs: var(--spacing-3xs);
  --paddings-2xs: var(--spacing-2xs);
  --paddings-xs: var(--spacing-xs);
  --paddings-sm: var(--spacing-sm);
  --paddings-md: var(--spacing-md);
  --wt-app-header-vertical-padding: var(--paddings-xs);
  --wt-app-header-gap: var(--wt-gap-sm);
  --wt-app-header-horizontal-padding: var(--paddings-sm);
  --wt-app-navigation-wrapper-button-corner-radius: var(--corner-radius-md);
  --wt-app-navigation-wrapper-corner-radius: var(--corner-radius-md);
  --wt-buttons---sm-button-vertical-padding: var(--paddings-2xs);
  --wt-buttons---button-corner-radius: var(--corner-radius-md);
  --wt-buttons---md-button-vertical-padding: var(--paddings-xs);
  --wt-buttons---sm-button-horisontal-padding: var(--paddings-xs);
  --wt-buttons---md-button-horisontal-padding: var(--paddings-sm);
  --wt-chip-vertical-padding: var(--spacing-2xs);
  --wt-chip-horisontal-padding: var(--paddings-sm);
  --wt-chip-corner-radius: var(--corner-radius-pill);
  --wt-content-wrapper-corner-radius: var(--corner-radius-md);
  --wt-content-wrapper-gap: var(--paddings-sm);
  --wt-content-wrapper-padding: var(--paddings-sm);
  --wt-expansion-panel-content-wrapper-gap: var(--spacing-xs);
  --wt-expansion-panel-content-wrapper-padding: var(--paddings-xs);
  --wt-expansion-panel-header-corner-radius: var(--corner-radius-md);
  --wt-expansion-panel-header-gap: var(--wt-gap-xs);
  --wt-expansion-panel-header-padding: var(--paddings-xs);
  --wt-gap-0: 0px;
  --wt-gap-3xs: var(--spacing-3xs);
  --wt-gap-2xs: var(--spacing-2xs);
  --wt-gap-xs: var(--spacing-xs);
  --wt-gap-sm: var(--spacing-sm);
  --wt-gap-md: var(--spacing-md);
  --wt-label-gap: var(--wt-gap-2xs);
  --wt-label-vertical-padding: var(--paddings-2xs);
  --wt-label-horisontal-padding: var(--paddings-xs);
  --wt-navigation-drawer-border-radius: var(--corner-radius-0);
  --wt-navigation-drawer-button-border-radius: var(--corner-radius-md);
  --wt-page-wrapper-gap: var(--spacing-sm);
  --wt-page-wrapper-horizontal-padding: var(--paddings-sm);
  --wt-page-wrapper-vertical-padding: var(--paddings-sm);
  --wt-player-corner-radius: var(--corner-radius-md);
  --wt-player-gap: var(--spacing-sm);
  --wt-player-horizontal-padding: var(--paddings-sm);
  --wt-player-vertical-padding: var(--paddings-sm);
  --wt-popup-corner-radius: var(--corner-radius-md);
  --wt-popup-header-bottom-padding: var(--spacing-xs);
  --wt-popup-header-corner-radius: var(--corner-radius-md);
  --wt-popup-header-right-padding: var(--paddings-xs);
  --wt-popup-header-top-padding: var(--paddings-xs);
  --wt-popup-header-left-padding: var(--paddings-sm);
  --wt-popup-padding: var(--paddings-sm);
  --wt-rounded-action-corner-radius-square: var(--corner-radius-md);
  --wt-rounded-action-corner-radius-circle: var(--corner-radius-pill);
  --wt-rounded-action-padding-md: var(--paddings-xs);
  --wt-rounded-action-padding-sm: var(--spacing-xs);
  --wt-teble-row-corner-radius: var(--corner-radius-md);
  --wt-text-field-helper-text---helper-gap: var(--wt-gap-2xs);
  --wt-text-field-helper-text-vertical-padding: var(--paddings-2xs);
  --wt-text-field-helper-text-horisontal-padding: var(--paddings-xs);
  --wt-text-field-input-corner-radius: var(--corner-radius-md);
  --wt-text-field-input-padding: var(--spacing-xs);
  --wt-tooltip-corner-radius: var(--corner-radius-md);
  --wt-tooltip-vertical-padding: var(--paddings-xs);
  --wt-tooltip-horizontal-padding: var(--paddings-sm);
}

