[data-theme="Light"] {
  /* colors */
  --wfm-icon-day-off-color: var(--wfm-colors-type-day-off-color);
  --wfm-icon-holiday-color: var(--wfm-colors-type-holiday-color);
  --wfm-icon-pause-color: var(--wfm-colors-type-pause-color);
  --wfm-icon-sick-color: var(--wfm-colors-type-sick-color);
  --wfm-icon-vocation-color: var(--wfm-colors-type-vocation-color);
}
[data-theme="Dark"] {
  /* colors */
  --wfm-icon-day-off-color: var(--wfm-colors-type-day-off-color);
  --wfm-icon-holiday-color: var(--wfm-colors-type-holiday-color);
  --wfm-icon-pause-color: var(--wfm-colors-type-pause-color);
  --wfm-icon-sick-color: var(--wfm-colors-type-sick-color);
  --wfm-icon-vocation-color: var(--wfm-colors-type-vocation-color);
}